<!-- <div class="container"> -->
<!--   <div class="column&#45;6"> -->
<!--     <h1>home</h1> -->
<!--   </div> -->
<!--  -->
<!--   <div class="column&#45;6"> -->
<!--     <h1>right</h1> -->
<!--   </div> -->
<!-- </div> -->

<div class="container">
  <ul>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
    <li class="block"> li here yo</li>
  </ul>
  
</div>
